*.log
*.pot
*.pyc
__pycache__
venv/
node_modules/
CACHE/
# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history
*.sqlite3

